<div class="auth">
  <!-- Painel esquerdo (desktop) -->
  <aside class="hero" [style.background-image]="backgroundImage">
    <div class="hero__content">
      <h2>
        Sua <b>operação de alta performance</b><br />
        merece uma <b>ferramenta de pagamentos</b><br />
        que entrega <b>potência máxima</b>.
      </h2>
    </div>
  </aside>

  <!-- Painel direito (form) -->
  <main class="panel">
    <img src="assets/icons/logo-tela-login.svg" alt="VersoPay" width="auto" height="auto" />

    <p class="subtitle">Bora escalar? 🚀 Conecte-se e<br />vamos crescer juntos.</p>

    <form (ngSubmit)="submit()" #f="ngForm" novalidate>
      <fieldset>
        <input name="email" type="email" [(ngModel)]="email" placeholder="E-mail" required />
      </fieldset>

      <fieldset>
        <input name="password" type="password" [(ngModel)]="password" placeholder="Senha" required />
      </fieldset>

      <div class="row">
        <label class="remember">
          <input type="checkbox" [(ngModel)]="remember" name="remember" />
          Lembrar-me
        </label>

        <a class="link recuperar-senha" routerLink="/auth/forgot">Recuperar senha</a>
      </div>

      <button class="btn" [disabled]="loading">Entrar</button>

      <div class="signup">
        Ainda não tem uma conta? <a class="link" href="#">Inscreva-se</a>
      </div>
    </form>

  </main>

  <!-- Overlay de loading -->
   @if (loading) {
     <div class="loading">
       <img src="assets/icons/logo-verso.svg" class="spinner" alt="VersoPay" />
     </div>
  }

  <!-- Toast simples -->
  <div class="toast">testando essa porra</div>
</div>