@use '../../../styles/_tokens' as *;
@use '../../../styles/_mixins' as *;

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >h4 {
        font-size: 30px;
        font-weight: 700;
        line-height: 156%;
    }
}

.infos-venda-faturamento {
    display: flex;
    gap: 22px;
    margin-top: 32px;

    >div {
        width: 50%;
        border: 1px solid $color-border;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 28px 18px;

        >h5 {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 156%;
            color: #FFFFFFB2;
        }

        >p {
            margin: 0;
            font-size: 24px;
            font-weight: 700;
            line-height: 156%;

            &.taxas {
                font-size: 10px;
                font-weight: 500;
                color: #FFFFFFB2;
            }
        }
    }
}

.tabs .tab {
    height: 31px;
    line-height: 156%;
    font-size: 14px;
    padding: 14px;
    border-radius: 4px;
    border: 1px solid #908D99;
    background: transparent;
    color: #908D99;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.todos {
        width: 74px;
    }

    &.pagos,
    &.pendentes {
        width: 105px;
    }
}

.tabs .tab.active {
    background: #200F48;
    border-color: #200F48;
    color: #fff;
    font-weight: 700
}