<div class="layout-default">
    <div class="head">
        <h4>
            Pedidos
            <img class="icon-tela-pedidos" src="assets/icons/icon-tela-pedidos.svg" alt="icon-tela-pedidos" />
        </h4>

        <app-card-info-usuario></app-card-info-usuario>
    </div>

    <div class="infos-venda-faturamento">
        <div class="vendas">
            <h5>Venda Encontradas
                <img class="icon-saldo-disponivel" src="assets/icons/icon-saldo-disponivel.svg"
                    alt="icon-saldo-disponivel" />
            </h5>
            <p>{{ total }}</p>
        </div>

        <div class="faturamento">
            <h5>Faturamento
                <img class="icon-faturamento" src="assets/icons/icon-faturamento.svg" alt="icon-faturamento" />
            </h5>
            <p>R$ 62.567,89</p>
            <p class="taxas">67% Cartão | 33% Pix</p>
        </div>
    </div>

    <div style="margin-top: 32px;">
        <app-table [colunas]="columns" [data]="rows" [loading]="loading" [page]="page" [pageSize]="pageSize"
            [total]="total" (pageChange)="loadPage($event)">
        </app-table>
    </div>
</div>