<aside class="sb" [class.sb--mini]="mini">
    <div class="sb__brand">
        <img src="assets/icons/logo-versopay.svg" alt="VersoPay" />
        <button class="sb__toggle" (click)="toggle.emit()">&raquo;</button>
    </div>

    <nav class="sb__nav">
        <a class="sb__item active">
            <img class="logo" src="assets/icons/icon-dashboard.svg" alt="dashboard" />
            <span class="t">Dashboard</span></a>
        <a class="sb__item">
            <img class="logo" src="assets/icons/icon-pedidos.svg" alt="pedidos" /><span class="t">Pedidos</span></a>
        <a class="sb__item">
            <img class="logo" src="assets/icons/icon-financeiro.svg" alt="Financeiro" /><span
                class="t">Financeiro</span></a>
        <a class="sb__item">
            <img class="logo" src="assets/icons/icon-configuracoes.svg" alt="Configurações" /><span
                class="t">Configurações</span></a>
    </nav>
</aside>