<aside class="sb" [class.sb--mini]="mini" (mouseenter)="expand()" (mouseleave)="collapse()">
    <div class="sb__brand" title="VersoPay">
        <img class="logo-completa" src="assets/icons/logo-versopay.svg" alt="VersoPay" />
        <img class="logo-icon" src="assets/icons/logo-verso.svg" alt="icon-VersoPay" />
    </div>

    <nav class="sb__nav">
        <a class="sb__item" [ngClass]="{'active': rotaAtiva('/sistema/dashboard')}" routerLink="/sistema/dashboard">
            <img class="logo" src="assets/icons/icon-dashboard.svg" alt="dashboard" />
            <span class="t">Dashboard</span>
        </a>

        <a class="sb__item" [ngClass]="{'active': rotaAtiva('/sistema/transferencias')}"
            routerLink="/sistema/transferencias">
            <img class="logo" src="assets/icons/icon-minhas-vendas.svg" alt="minhas-vendas" />
            <span class="t">Minhas Vendas</span>
        </a>

        <a class="sb__item" [ngClass]="{'active': rotaAtiva('/sistema/financeiro')}" routerLink="/sistema/financeiro">
            <img class="logo" src="assets/icons/icon-financeiro.svg" alt="financeiro" />
            <span class="t">Financeiro</span>
        </a>

        <a class="sb__item" [ngClass]="{'active': rotaAtiva('/sistema/chaves-api')}" routerLink="/sistema/chaves-api">
            <img class="logo" src="assets/icons/icon-chave-api.svg" alt="chave-api" />
            <span class="t">Chaves API</span>
        </a>

        <a class="sb__item" [ngClass]="{'active': rotaAtiva('/sistema/webhooks')}" routerLink="/sistema/webhooks">
            <img class="logo" src="assets/icons/icon-webhooks.svg" alt="webhooks" />
            <span class="t">Webhooks</span>
        </a>

        <a class="sb__item" [ngClass]="{'active': rotaAtiva('/sistema/configuracoes')}"
            routerLink="/sistema/configuracoes">
            <img class="logo" src="assets/icons/icon-configuracoes.svg" alt="configuracoes" />
            <span class="t">Configurações</span>
        </a>

        <a class="sb__item" [ngClass]="{'active': rotaAtiva('/sistema/indique-ganhe')}"
            routerLink="/sistema/indique-ganhe">
            <img class="logo" src="assets/icons/icon-indique-amigos.svg" alt="indique-amigos" />
            <span class="t">Indique e ganhe</span>
        </a>
    </nav>

    <div class="perfil" routerLink="/sistema/perfil">
        <p class="avatar">{{ iniciaisNome }}</p>
        <div class="info">
            <p class="name">{{ user?.nome }}</p>
            <p class="email">{{ user?.email }}</p>
        </div>
    </div>
</aside>