@use './app/styles/_tokens' as *;

/* CSS variables globais (runtime) */
:root {
  --bg: #{$color-bg};
  --fg: #{$color-fg};
  --accent: #{$color-roxo-marca};

  --space-2: #{$space-2};
  --space-3: #{$space-3};
  --space-4: #{$space-4};
  --space-5: #{$space-5};

  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-xl: #{$radius-xl};

  --shadow-md: #{$shadow-elev};
  --container-card-w: #{$container-card-w};
  --font-hero: #{$font-size-hero};
  --gradient-login: #{$gradient-login};
}

html,
body {
  height: 100%;
}

* {
  font-family: 'inter', sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: Inter, Roboto, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: var(--accent);
  cursor: pointer;
}

.destaque {
  color: $color-roxo-marca;
}

.btn {
  width: 100%;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(270deg, #7E5BED, #a77df8);
  font-size: 18px;
  transition: transform 0.05s ease, filter 0.15s ease;
  font-weight: 700;
  line-height: 156%;
  height: 50px;
  margin-top: 25px;

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    filter: grayscale(.3);
    opacity: .75;
    cursor: not-allowed;
  }
}

.link {
  font-weight: 700;
  font-size: 18px;
}