<div class="layout-default">
    @if(!usuarioPossuiCadastroCompleto()) {
    <div class="mensagem-completar-cadastro">
        <p><span>Seu cadastro ainda não está completo.</span> Finalize para acessar todos os recursos.</p>
        <button class="btn-generic" type="button" (click)="finalizarCadastro()">
            Finalizar cadastro
        </button>
    </div>
    }
    <header class="top" [ngClass]="{'incompleto': !usuarioPossuiCadastroCompleto()}">
        <div class="cadastro-completo">
            <h2>Dashboard</h2>
            <p>Olá, {{ userName() }}!</p>
        </div>

        <app-card-info-usuario></app-card-info-usuario>
    </header>

    <section class="filters">
        <div class="datepick">
            <!-- DE -->
            <div class="datepick__field" (click)="abriDataPicker(fromRef)">
                <button type="button" class="datepick__btn" aria-label="Abrir calendário">
                    <img src="assets/icons/icon-calendar.svg" alt="" />
                </button>

                <input #fromRef type="date" [value]="dateFmt(from)" (change)="onDataSelecionada()" />
            </div>

            <span class="datepick__sep">até</span>

            <!-- ATÉ -->
            <div class="datepick__field" (click)="abriDataPicker(toRef)">
                <button type="button" class="datepick__btn" aria-label="Abrir calendário">
                    <img src="assets/icons/icon-calendar.svg" alt="" />
                </button>

                <input #toRef type="date" [value]="dateFmt(to)" (change)="onDataSelecionada()" />
            </div>
        </div>

        <!-- SELECT de intervalo -->
        <select class="select-dias" #intervalo [value]="intervaloDias"
            (change)="setarIntervaloData($any(intervalo.value))">
            <option value="today">Hoje</option>
            <option value="yesterday">Ontem</option>
            <option value="7d">Últimos 7 dias</option>
            <option value="15d">Últimos 15 dias</option>
            <option value="30d">Últimos 30 dias</option>
        </select>

    </section>

    <!-- KPIs -->
    <section class="kpis">
        <div class="kpi">
            <span class="kpi__label">
                Faturamento
                <img src="assets/icons/icon-faturamento.svg" alt="icon-faturamento" />
            </span>
            <strong class="kpi__val">{{ mask(kpis.faturamento) }}</strong>
        </div>

        <div class="kpi">
            <span class="kpi__label">
                Ticket Médio
                <img src="assets/icons/icon-porcentagem.svg" alt="icon-porcentagem" />
            </span>
            <strong class="kpi__val">{{ mask(kpis.saldoDisponivel) }}</strong>
        </div>

        <div class="kpi">
            <span class="kpi__label">
                Pedidos Pagos
                <img src="assets/icons/icon-pedidos-pagos.svg" alt="icon-pedidos-pagos" />
            </span>
            <strong class="kpi__val">{{ mask(kpis.saldoPendente) }}</strong>
        </div>
    </section>

    <!-- Gráfico -->
    <section class="card chart">
        <div class="chart__head">
            <h5>Resumo das suas vendas</h5>
            <p>Acompanhe o gráfico de faturamento da sua operação.</p>
        </div>

        <hr />
        <div class="chart__wrap">
            <canvas #chartCanvas></canvas>
        </div>
        <hr />

    </section>

    <section class="cards kpis-mini">
        <div class="mini" *ngFor="let c of cardsMini">
            <div class="donut" [style.--p]="c.percent">
                <span>{{ c.percent | number:'1.0-1' }}%</span>
            </div>

            <div class="info">
                <strong>{{ c.title }}</strong>
                <small>Volume total: {{ c.volume | currency:'BRL':'symbol':'1.2-2' }}</small>
            </div>
        </div>
    </section>

</div>