@use '../../../styles/_tokens' as *;
@use '../../../styles/_mixins' as *;


.layout {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.top h2 {
    margin: 0 0 2px;
    font-size: 30px;
    font-weight: 700;
    line-height: 156%;
}

.top p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 156%;
    margin: 0;
}

.top__right {
    background: #12082C;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 14px
}

.progress .bar {
    width: 220px;
    height: 10px;
    background: #251a46;
    border-radius: 10px;
    overflow: hidden
}

.progress .bar span {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #c39afc, #6f4ef6)
}

.progress small {
    display: block;
    text-align: right;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 156%;
    font-weight: 400;
    margin-bottom: 8px;
}

.eye {
    background: #241a40;
    border: 0;
    color: #dcd7ff;
    border-radius: 10px;
    padding: 8px 10px;
    cursor: pointer
}

.notification {
    cursor: pointer;
    width: 26px;
    height: 26px;
}

.avatar {
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 3px solid #9376f0;
    padding: 4px;
    font-size: 18px !important;
    text-align: center;
    place-content: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 35px 0 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 156%;
}

.peek {
    cursor: pointer
}

.filters {
    display: flex;
    gap: 12px;
    margin: 8px 0 18px;
    flex-direction: column;

    >h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        color: #FFF;
        text-transform: uppercase;
        margin: 0;
    }
}

.datepick {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 12px;

    input[type="date"] {
        background: transparent;
        border: none;
        color: #e9e7ff;
        outline: none;
        font-size: 14px;
        padding: 0;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}

.datepick__sep {
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    line-height: 156%;
}

.datepick__field {
    cursor: pointer;
    height: 45px;
    display: flex;
    justify-content: center;
    padding-left: 35px;
    position: relative;
    border: 1px solid #200F48;
    border-radius: 10px;
    transition: border-color .2s, box-shadow .2s;

    &:focus-within {
        border-color: #271561;
        box-shadow: 0 0 0 3px rgba(205, 191, 248, .15);
    }

    min-width: 147px;
}

.datepick__btn {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    width: 22px;
    height: 22px;
    border: 0;
    background: transparent;
    color: #fff;
    cursor: pointer;
    padding: 0;

    img {
        width: 18px;
        height: 18px;
        filter: brightness(0) invert(1);
        pointer-events: none;
    }
}

.datepick__field input[type="date"] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    font: inherit;
    height: 45px;
    padding: 2px;
    cursor: pointer;
}

/* esconde o ícone nativo do datepicker */
.datepick__field input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.datepick__field input[type="date"]::-ms-clear,
.datepick__field input[type="date"]::-ms-reveal {
    display: none;
}

.datepick__field input[type="date"]::placeholder {
    color: #b7b0d6;
}

input:focus {
    outline: none !important
}

/* mobile */
@media (max-width: 980px) {
    .datepick {
        flex-wrap: wrap;
        gap: 8px;
    }

    .datepick__field {
        min-width: 150px;
    }
}

.datepick label {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 156%;
}

.datepick input {
    background: transparent;
    border: 0;
    color: #FFF;
    width: 126px;
    height: 40px;
    border: 1px solid #200F48;
    border-radius: 5px;
    padding: 5px 14px;
    display: flex;
    justify-content: center;
}

.quick {
    display: flex;
    gap: 8px
}

.quick button {
    background: transparent;
    color: #FFF;
    border: 0;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #200F48;
}

.quick button.on,
.quick button:hover {
    background: #271561
}

.kpis {
    display: flex;
    gap: 20px;
    margin: 8px 0 16px
}

.kpi {
    background: $color-roxo-fundo-dash;
    border: 1px solid #200F48;
    border-radius: 10px;
    padding: 16px;
    max-width: 295px;
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 111px;

    >small {
        font-size: 12px;
        color: #FFF;
        font-weight: 500;
        line-height: 156%;
    }
}

.kpi__label {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 156%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.kpi__val {
    display: block;
    font-size: 24px;
    margin: 6px 0 4px;
    font-weight: bold;
    color: #FFF;
    line-height: 156%;
}

.card.chart {
    >header {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 156%;
        margin-bottom: 4px;
    }

    >p {
        font-size: 16px;
        font-weight: 500;
        line-height: 156%;
        color: #FFF;
        margin: 0;

        &.anterior {
            color: #FFFFFF99;
        }
    }
}

.chart__wrap {
    position: relative;
    height: 420px;
    margin-top: 25px;
}

.chart__wrap canvas {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    display: block;
}


.card {
    border: 1px solid #200F48;
    border-radius: 12px;
    padding: 16px;
}

.card header {
    color: #b9b3d6;
    margin-bottom: 10px
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    margin-top: 16px
}

.mini {
    display: flex;
    align-items: center;
    gap: 16px;
    background: $color-roxo-fundo-dash;
    border: 1px solid #200F48;
    border-radius: 12px;
    padding: 14px
}

.mini span {
    display: block;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 500;
    line-height: 156%;
    color: #FFF;
}

.mini small {
    color: #FFF;
    font-size: 16px;
    line-height: 156%;
    font-weight: 500;
}

@media (max-width: 980px) {
    .layout {
        grid-template-columns: 1fr
    }

    .kpis {
        grid-template-columns: 1fr
    }

    .cards {
        grid-template-columns: 1fr
    }
}