<div class="auth">
  <aside class="hero" [style.background-image]="backgroundImage">
    <div class="hero__content">
      <h2>
        Sua <b>operação de alta performance</b><br />
        merece uma <b>ferramenta de pagamentos</b><br />
        que entrega <b>potência máxima</b>.
      </h2>
    </div>
  </aside>

  <main class="panel">
    <section class="login-card">
      @if(step !== 'code') {
      <img class="logo" src="assets/icons/logo-tela-login.svg" alt="VersoPay" />

      <p class="subtitle">
        Bora escalar? 🚀 Conecte-se e<br />vamos crescer juntos.
      </p>

      <form (ngSubmit)="submit()" #f="ngForm" novalidate>
        <fieldset>
          <input name="email" type="email" [(ngModel)]="email" placeholder="E-mail" required />
        </fieldset>

        <fieldset>
          <input name="senha" type="password" [(ngModel)]="senha" placeholder="Senha" required />
        </fieldset>

        <div class="row">
          <label class="remember">
            <input type="checkbox" [(ngModel)]="remember" name="remember" />
            Lembrar-me
          </label>

          <a class="link recuperar-senha" (click)="navegarPagina('/auth/recuperar-senha')">Recuperar senha</a>
        </div>

        <button class="btn" [disabled]="loading">Entrar</button>

        <div class="signup">
          Ainda não tem uma conta? <a class="link" (click)="navegarPagina('/auth/cadastrar')">Inscreva-se</a>
        </div>
      </form>
      }

      @if(step === 'code') {
      <h4>Confirmação de Segurança</h4>
      <p>Insira o código enviado para o seu e-mail <b>{{ maskedEmail }}</b>.</p>

      <div class="otp">
        <input #otpBox class="otp__box" *ngFor="let d of otp; let i = index" type="tel" inputmode="numeric"
          pattern="[0-9]*" maxlength="1" autocomplete="one-time-code" (focus)="onOtpFocus(i)"
          (keydown)="onOtpKeydown(i, $event)" (input)="onOtpInput(i, $event)" (paste)="onOtpPaste(i, $event)"
          [value]="otp[i]" />
      </div>
      
      <button class="btn" [disabled]="loading || code.length !== 6" (click)="confirmarCodigo()">
        Autorizar
      </button>

      <div class="login">
        <a class="voltar-login" (click)="step='login'">Retornar a tela de Login</a>
      </div>

      <img class="logo-token" src="assets/icons/logo-tela-login.svg" alt="VersoPay" />
      }

    </section>
  </main>
</div>